body {
    display: flex;
    justify-content: center;
}

.tempo {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#tempo-display {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.tempo label {
    margin-right: 10px;
}

.tempo-buttons {
    display: flex;
    flex-direction: column;
}

.tempo-buttons button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

.tempo-buttons button:hover {
    background-color: #000;
    color: #fff;
}